.main
  .messages-history id='messages-history'
    #messages

#chat
  template v-for="message in allMessages"
    p
      | {{ message }}

  .footer
    .input-box
      input type="text" class='input-box_text' v-model="message" @keyup.enter="saveMessage()"
