<div class="session" data-session-token="<%= @session_token %>"></div>

<div class="main">
  <div class="messages-history" id="messages">
    <div id="<%= 123 %>">
      <% @messages.each do |message| %>
        <p><%= message.message %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="input-box">
    <input type="text" class="input-box_text" id=""/>
  </div>

</div>