* {
  box-sizing: border-box;
}

.input-box {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.input-box_text {
  font-size: 0.95rem;
  width: 100%;
  margin-bottom: auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
  background-clip: padding-box;
  color: #3d3c40;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 41px !important;
  padding: 9px 5px 9px 8px;
}

.messages-history {
  height: 100%;
  padding: 0 18px 1rem 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 8px);
}