* {
  box-sizing: border-box;
}

.input-box_text {
  font-size: 0.99rem;
  width: 99%;
  border: 2px solid #e0e0e0;
  border-radius: 0.3rem;
  padding: 8px 8px 8px 8px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages {
  overflow-x: auto;
  height: 100%;
}

.chat {
  display:flex;
  flex-direction:column;
  height:100vh;
}